body {
    font-family: Arial, sans-serif;
    margin: 30px 60px; 
    background-color: #f6f3eb;
    color: #1d2b4f;


}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

header p {
    font-size: 14px;
    margin-bottom: 5px;

}

header h1 { 
    font-size: 18px;
    margin-top: 0px;

}

.resumo-aulas {
    display: flex;
    gap: 80px;
    margin-bottom: 20px;


}

.resumo-aulas-agendadas {
    display: flex;
    gap: 80px;
    margin-bottom: 20px;

}

.perfil-duração {
    display: flex;
    gap: 80px;

}

.materia-local-tipo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.conversar-detalhes {
    display: flex;
    gap: 80px;

}

.tipo p {
    margin-top: 0;
}

.card-aula{
    border: 1px solid #ddd; 
    border-radius: 10px; 
    padding: 20px;
    margin-top: 20px; 

}

.conversar,
.proximas-aulas,
.aulas-passadas,
.resumo-aulas-agendadas,
.modo-sincronizado,
.detalhes {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 0px 15px;
}

.perfil {
    display: flex;
    align-items: center;
    gap: 15px;
}

.perfil img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.perfil .nome {
    width: 240px;
}

.materia-local h3 {
    margin-top: 0;
}

.tipo p {
    margin-top: 0;
}

.icone {
    margin-right: 5px;
    color: #2f6f62;
}

.duração {
    margin-left: auto;
    width: 80px;
}

.modo-sincronizado {
    display: flex;
    align-items: center;
}

.texto-modo {
    margin-left: 15px;
}

.config {
    margin-left: auto;
}

.texto-modo h2 {
    margin: 0 0 5px 0;
}

.texto-modo p {
    margin: 5px 0;
}