<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../Static/CSS/cadastro.css">

    <title>Cadastro</title>
</head>
<body>
    <div class="logo">🎓 Calouro+</div>

    <div class="formulario">
        <h2>Cadastre-se</h2>
        <p>Crie sua conta para achar aulas ou dar as suas.</p>

        <form>
            <div class="campo">
                <label for="email">E-mail</label>
                <input type="email" id="email" placeholder="Digite seu e-mail">
            </div>

            <div class="campo">
                <label for="senha">Senha</label>
                <input type="password" id="senha" placeholder="Crie uma senha">
            </div>

            <div class="campo">
                <label for="confirmar-senha">Confirme a senha</label>
                <input type="password" id="confirmar-senha" placeholder="Repita a senha">
            </div>

            <button type="button">Criar conta</button>
        </form>

        <p class="entrar">Já tem conta? <a href="login.html">Entrar</a></p>
    </div>
</body>
</html>
