<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Calouro+</title>
    <link href="../Static/CSS/feed.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="blue-line">
        
        <img src="../imgs/nome_calouro.png" width="200">
 
        <b style="color: black; font-size: 30px;">Feed</b>

        <b style="color: black; font-size: 30px;">Conversas</b>

        <b style="color: black; font-size: 30px;">Aulas</b>

        <b style="color: black; font-size: 40px;">Criar Aula</b>

        <img src="../imgs/perfil.png" width="200">
        
    </div>

    <div></div>

    <div class="blue-line-even">
        <b style="color: black; font-size: 30px;">Comunidade PUC-RIO</b>
        
        <b style="color: black; font-size: 30px;">Aulas particulares:</b>

    </div>

    <div class="blue-end">
        <img src="../imgs/barto.png" width="100">
    </div>
</body>

</html>