<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Calouro+</title>
    <link href="../Static/CSS/feed.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="blue-line">
        
        <img src="../imgs/nome_calouro.png" width="200">
 
        <b style="color: black; font-size: 30px;"><a href="feed.html" style="color: navy; text-decoration: underline;">Feed</a></b>

        <b style="color: black; font-size: 30px;"><a href="chat.html" style="color: navy; text-decoration: underline;">Conversas</a></b>

        <b style="color: black; font-size: 30px;"><a href="minhas_aulas.html" style="color: navy; text-decoration: underline;">Aulas</a></b>

        <b style="color: black; font-size: 40px;"><a href="criar_aula.html" style="color: navy; text-decoration: underline;">Criar Aula</a></b>

        <a href = "perfil.html"><img src="../imgs/perfil.png" width="200"></a>
        
    </div>

    <div></div>

    <div class="blue-line-even">
        <b style="color: black; font-size: 30px;">Comunidade PUC-RIO</b>
        
        <b style="color: black; font-size: 30px;">Aulas particulares:</b>

    </div>


    <div class="blue-end">
        <img src="../imgs/barto.png" width="100">
    </div>
</body>

</html>