<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Calouro+</title>
    <link href="../Static/CSS/login.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="blue-center">
        
        <img src="../imgs/nome_calouro.png" width="200">
        <!-- <h2>Entrar</h2>
        <h3>Entrar</h3>
        <h4>Entrar</h4>
        <h5>Entrar</h5>
        <h6>Entrar</h6> -->
        <div><b style="color: navy; font-size: 50px;">Entrar</b></div>
        <div><b style="color: navy; font-size: 20px;">Bem-vindo <strong>Calouro!</strong> Por favor, faça <u>login</u> para continuar.</b></div>
        
        <form>
            <div><label for="E-mail">E-mail:</label></div>
            <input type="email" id="E-mail" name="E-mail" required>
            <br><br>
            <div><label for="Senha">Senha:</label></div>
            <input type="password" id="Senha" name="Senha" required>
            <br><br>
            <input type="submit" value="Login">
        </form>
    </div>
    
    <div class="blue-end">
        <img src="../imgs/barto.png" width="100">
    </div>
</body>

</html>