<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../Static/CSS/minhas_aulas.css">

    <title>Document</title>
</head>
<body>

    <header>
    <div class="titulo-header">
        <p>2026.1 • PUC-Rio</p>
        <h1>Minhas aulas</h1>
    </div>

    <div class="icones-header">
        <span>▣</span>
        <span>☷</span>
    </div>
</header>

    <div class="resumo-aulas">
        <div class="proximas-aulas"> 
            <p>Próximas aulas 3</p>
        </div>

        <div class="aulas-passadas">
            <p>Aulas passadas 12</p>
        </div>
    </div>

    <div class="resumo-aulas-agendadas">
        <div class="aulas-agendadas">
            <p>3 aulas agendadas</p>
            <p>Próxima sessão em 2 dias.</p>
        </div>

        <div class="data">
            <p>Maio - Junho</p>
        </div>

    </div>

    <div class="modo-sincronizado">

    <span class="icone-modo">▣</span>

    <div class="texto-modo">
        <h2>MODO SINCRONIZADO</h2>
        <p>Wireframe de aulas</p>
        <p>Sessões individuais confirmadas</p>
    </div>

    <span class="config">⚙</span>

    </div>

    <div class="card-aula">
        <div class="perfil-duração">
            <div class="perfil">
                <img src="../Static/rogeria.jpg" alt="Rogeria">
                <p class="nome">Rogeria Fontes Tostes</p>
                <strong>Próxima</strong>
                <p><span class="icone">▣</span> 31/05 • 16:30</p>
            </div>

            <div class="duração">
                <p>60 min</p>
            </div>
        </div>

        <div class="materia-local-tipo">
            <div class="materia-local">
                <h3>Cálculo Numérico (Mat-1161)</h3>
                <p>Edificio Cardeal Leme • Sala 204B</p>
            </div>

            <div class="tipo">
                <p>Presencial</p>
            </div>
        </div>

        <div class="conversar-detalhes"> 
            <div class="conversar">
                <p><span class="icone">▣</span> Conversar</p>
            </div>

            <div class="detalhes">
                <p>Ver Detalhes &gt;</p>
            </div>
        </div>
    </div>

    <div class="card-aula">
        <div class="perfil-duração">
            <div class="perfil">
                <img src="../Static/gabriel.jpg" alt="Gabriel">
                <p class="nome">Gabriel Pacheco Valadares</p>
                <strong>Agendada</strong>
                <p><span class="icone">▣</span> 05/06 • 16:30</p>
            </div>

            <div class="duração">
                <p>90 min</p>
            </div>
        </div>

        <div class="materia-local-tipo">
            <div class="materia-local">
                <h3>Prog. Orientada a Objetos (INF-1037)</h3>
                <p>Prédio RDC • Lab 404(Linux)</p>
            </div>

            <div class="tipo">
                <p>Laboratório</p>
            </div>
        </div>

        <div class="conversar-detalhes"> 
            <div class="conversar">
                <p><span class="icone">▣</span> Conversar</p>
            </div>

            <div class="detalhes">
                <p>Ver Detalhes &gt;</p>
            </div>
        </div>
    </div>

    

</body>
</html>