<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../Static/CSS/perfil.css">
    
    <title>Perfil</title>
</head>
<body>
    <header>
        <div class="titulo-header">
            <p>2026.1 • PUC-Rio</p>
            <h1>Meu perfil</h1>
        </div>

        <div class="icones-header">
            <span>▣</span>
            <span>☷</span>
        </div>
    </header>

    <div class="introducao">
        <h2>Meu perfil</h2>
        <p>Gerencie suas informações acadêmicas e preferências de contato.</p>
    </div>

    <div class="foto-perfil">

    <img src="../Static/gabriel.jpg" alt="Foto de perfil">

    <div class="dados-foto">
        <h3>Foto de perfil</h3>
        <p>Formatos aceitos: JPG, PNG até 5MB</p>
        <button>Alterar foto</button>
    </div>

    </div>

    <div class="informacoes-pessoais">

    <div class="titulo-informacoes">
        <h2>Informações Pessoais</h2>
        <button>Editar perfil</button>
    </div>

    <div class="nome-completo">
        <p>Nome completo</p>
        <p>Helena Soares</p>
    </div>

    <div class="email">
        <p>E-mail institucional</p>
        <p>helena.soares@universidade.edu.br</p>
    </div>

    <div class="senha">
        <p>Senha de acesso</p>
        <p>••••••••••••</p>
        <button>Alterar senha</button>
    </div>

    </div>

    <div class="materias-interesse">

    <div class="titulo-materias">
        <p>Matérias de interesse</p>
        <p>4 selecionadas</p>
    </div>

    <div class="materias">
        <span>Cálculo I ×</span>
        <span>Física Teórica ×</span>
        <span>Estrutura de Dados ×</span>
        <span>Bioquímica ×</span>
        <button>+ Adicionar matéria</button>
    </div>

    </div>

    <div class="notificacoes">

    <h2>Notificações</h2>

    <p>Escolha como deseja receber as atualizações sobre suas aulas e mensagens.</p>

    <div class="opcao-notificacao">
        <div>
            <h3>Resumo semanal por e-mail</h3>
            <p>Relatório de horas estudadas e agendamentos futuros.</p>
        </div>

        <button>Ativado</button>
    </div>

    <div class="opcao-notificacao">
        <div>
            <h3>Nova mensagem no chat por e-mail</h3>
            <p>Alertas imediatos quando um monitor responder a você.</p>
        </div>

        <button>Ativado</button>
    </div>

    </div>

    <div class="acoes-perfil">
    <button class="salvar">✓ Salvar alterações</button>
    <button class="voltar">← Voltar ao início</button>
    </div>
</body>
</html>